<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2021 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.able.dao.UserMapper">

    <select id="selectByid2" resultType="com.able.model.User">
        select *
        from user
        where id = #{id}
    </select>
    <update id="updateByid2" parameterType="com.able.model.User">
        update user
        set name=#{name}
        where id = #{id}
    </update>
    <insert id="insertUser" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
            parameterType="com.able.model.User" >
        insert into user (name, createTime, updateTime, updateLongTime)
        values (#{name}, #{createTime}, #{updateTime},#{updateLongTime,typeHandler=com.able.handler.TimeStamp2LongHandler})
    </insert>

    <insert id="insertUser1">
        insert into user (name, createTime, updateTime, updateLongTime)
        values (#{name}, #{createTime}, #{updateTime},#{updateLongTime,typeHandler=com.able.handler.TimeStamp2LongHandler})
    </insert>
    <!--<select id="selectIds"-->
    <!--resultType="com.able.model.User"-->
    <!--lang="org.mybatis.scripting.freemarker.FreeMarkerLanguageDriver">-->

    <!--select  * from user-->
    <!--where  id in(${ids?join(',')})-->

    <!--</select>-->
    <select id="selectById3" resultType="com.able.model.User">
        select *
        from user
        where id = #{id}
    </select>
    <!--<cache/>-->


</mapper>
